# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf

# Ignore some files when exporting to a ZIP.
# Only include the addons folder when downloading from the Asset Library.
/**                  export-ignore
/addons              !export-ignore
/addons/**           !export-ignore

# Also include script templates.
/script_templates    !export-ignore
/script_templates/** !export-ignore
