
body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-size: 12pt;
	background: #dbf1ff;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 30px;
	font-size: 14px;
	white-space: nowrap;
	background-image: linear-gradient(to bottom right, #347bad, #055d9c);
}

footer a  {
	padding-left: 5px;
}

footer p  {
	padding-left: 10px;
}

.header {
	padding-top: 5px;
	padding-bottom: 5px;
	width: 100%;
	height: 100px;
	text-align: left;
	background-image: linear-gradient(to bottom right, #347bad, #055d9c);
}

.header h1 {
	font-size: 200%;
	display: flex;
	line-height: 64px;
	text-align: center;
	text-shadow: 2px 2px 5px black;
}

.header h1 .color1 {
	color: #9887c4;
}

.header h1 .color2 {
	color: #7a57d6;
}

.header h1 .color3 {
	color: #2fa5f5;
	padding-left: 10px;
}

.header img {
	padding-left: 50px;
	width: 64px;
	height: 64px;
	padding-right: 10px;
}

.content {
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 30px;
	padding-bottom: 30px;
}

.content h1 {
	font-size: 130%;
	text-align: left;
	margin-bottom: 10px;
	margin: 0;
	padding: 0;
}

.grid-container {
	display: grid;
	grid-template-columns: 420px 400px auto;
	margin-bottom: 20px;
}

.grid-item {
	border-radius: 15px;
	border: 2px solid #9887c4;
	padding: 10px;
	margin: 5px;
	box-shadow: 0 0 10px #9887c4;
}

.summary table {
	border-collapse: collapse;
	border-collapse: inherit;
	border-spacing: 10px 10px;
}

.summary cell {
	width: 110px;
	font-size: 110%;
	text-align: left;
}

.summary .counter, .percent {
	width: 300px;
	font-size: 120%;
	font-weight: bold;
	text-align: right;
	box-shadow: 0 0 3px black;
}

.report {
	margin-top: 10px;
	margin-bottom: 10px;
}

/* Style tab links */
input, section {
	clear: both;
	padding-top: 0px;
	padding-bottom: 0px;
	display: none;
	background-color: transparent;
	box-shadow: 0 0 5px black;
}

label {
	width: auto !important;
	min-width: 200px;
	height: 20px;

	font-weight: bold;
	font-size: 16px;
	color: white;

	margin: auto;
	display: flex;
	float: left;
	justify-content: space-between;

	padding-top: 18px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 9px;

	border-top: 1px solid #DDD;
	border-right: 1px solid #DDD;
	border-left: 1px solid #DDD;

	-moz-border-radius: 7px;
	border-radius: 8px 4px 0px 0px;
	text-decoration: none;
	background-color: #055d9c
}

label:hover {
	cursor: pointer;
	text-decoration: underline;
}

#tab1:checked ~ #content1, #tab2:checked ~ #content2, #tab3:checked ~ #content3 {
	display: block;
}

input:checked + label {
	height: 14px;
	border-top: 8px solid #9887c4;
	border-right: 1px solid #9887c4;
	border-left: 1px solid #9887c4;
	border-bottom-color: transparent;
	background-color: #347bad;
	box-shadow: -2px -2px 2px #9887c4;
}

div.selected {
	display: block;
}

div.deselected {
	display: none;
}

.tab-report-grid {
	display: grid;
	grid-template-columns: 60% 40%;
	height: 400px;
	margin-bottom: 20px;
}

.grid-item {
	overflow: auto;
}

div.tab table {
	border-collapse: collapse;
}

div.tab th, div.tab table {
	border-bottom: solid 1px #055d9c;
}

div.tab th {
	text-align: left;
	white-space: nowrap;
	padding-left: 6em;
	padding-right: 10px;
}

div.tab th:first-child {
	padding-left: 5px;
}

div.tab td {
	white-space: nowrap;
	padding-left: 6em;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

div.tab td:first-child {
	padding-left: 5px;
	text-align: left;
}

div.tab td.numeric, div.tab {
	text-align: right;
}

div.tab td.report-column, th.report-column {
	display:none;
}

div.tab td.success, div.tab a.success {
	color: #03a606;
}

div.tab td.error, div.tab a.error {
	color: #bf3600;
}

div.tab td.failure, div.tab a.failure {
	color: #bf3600;
}

div.tab td.warning, div.tab a.warning {
	color: #cca704;
}

div.tab tr:hover {
	background-color: #d9e7fa;
	box-shadow: 0 0 5px black;
}

div.tab tr.selected {
	background-color: #347bad;
}

div.tab th {
	width: 100%;
	height: 40px;
	background-color: #347bad;
	color: white;
	font-weight: bold;
}

.success_percent {
	font-size: 750%;
}

.border_success {
	border: solid 3px #03a606;
	background-image: repeating-linear-gradient(45deg, white, white 20%,  #03a606);
}

.border_error {
	border: solid 3px #bf3600;
	background-image: repeating-linear-gradient(45deg, #e86363, white 0%, #bf3600);
}

.border_failure {
	border: solid 3px #bf3600;
	background-image: repeating-linear-gradient(45deg, #e86363, white 0%, #bf3600);
}

div.logging {
	padding: 10px;
	height: 400px;
	margin: 0px;
	background-image: linear-gradient(to bottom right, #347bad, #055d9c);
	color: white;
}

div.logging p {
	padding: 10px;
	font: arial;
	background-color:  #dbf1ff;
	height: 85%;
}

div.report-column {
	margin-top: 10px;
	width: 100%;
	height: 300px;
	font: arial;
	font-size: 16;
	text-align: left;
	background-color: #dbf1ff;
}
